.divAuto {
    color: black;
    float: left;
    border: solid 2px black;
    display: inline;
    margin: 10px;
    background-color: #ffc107;
    width: 70%;
}

header {
    background-color: black;
    text-align: center;
    color: yellow;
    font-size: 50px;
}

.divZaSve {
    height: 500px;
    width: 49%;
    float: left;
}

input {
    margin: 5px;
}

.formaDiv {
    width: 50%;
    float: left;
    height: 800px;
}

.divZaAutomobile {
    height: 300px;
    float: left;
}

btn {
    height: 5%;
}

.btn-dark {
    float: right;
}
.divSlide {
    background-color: black;
}
.divIzlog {
    color: black;
    float: left;
    border: solid 2px black;
    display: inline;
    margin-left: 15px;
    background-color: #ffc107;
    width: 22%;
}